.popular-main{
  width: 50%;
  margin: 0;
  padding: 0 15px 0 70px;
}
.popular-heading{
  padding: 0px 0 15px;
  border-bottom: 1px solid #dee2e6;
  font-size: 1.4rem !important;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  margin: 0 0 25px 0 !important;
  font-style: normal;
}
.top-heading{
  font-size: 1.1rem !important;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  color: #0a0a0a;
  letter-spacing: normal;
  margin: 0 0 10px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 73px;
  word-break: break-word;
  font-weight: 600;
}
.nested{
  margin-bottom: 20px;
}
.trend-cards{
   margin-bottom:0.5rem ;
}

