
.main-container{
  width: 100%;
  background: var(--blue-color);
  padding: 10px 16px !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.header-main {
  display: flex;
  justify-content: space-between;
  padding:5px 3px 0 0;
  width: 1124px;

  margin: 0 auto;
}
.trend-vote{
  margin: 0;
}
.search-btn{
  margin: 0 12px;
    width: 255px;
    height: 38px;
}
.nav-search {
  margin: 0;
}
.rounded-circle{
  border-radius: 99em;
  border: 1px solid #ced4da;
  outline: none;
  position: relative;
}
#rounded-circle{
  width: 261px;
  height: 38px;
  padding: 6px 40px 6px 12px;
}
::placeholder{
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;


}
.search-img{
  width: 18px;
  height: 18px;
}
.btn{
  outline: none;
  padding-right: 0;
}
.search-login {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.login-link{
  color: white;
  padding: 8px;
  font-size:16px;
}
.input-group-append{
  position: absolute;
  right: 13px;
  margin: 0;
  border: none;
}
a{
  display: block;
}
a:hover{
  color: white !important;
  text-decoration: none !important;

}
.trend-logo{
  display: none;
}
