.see-more{
  text-align: end;
  border-bottom: 1px solid #dee2e6!important;
  padding: 7px 0;
  font-family: roboto-regular;
  border-bottom: 1px solid #dee2e6!important;
  font-weight: 400;
  font-size: 1.125rem;
}
#seemore{
fill:#007bff !important;
}